:root {
  /* Primary Button */
  --surface-button-primary: var(--interactive-primary);
  --surface-button-primary-hover: var(--interactive-primary-hover);
  --surface-button-primary-active: var(--interactive-primary-active);
  --surface-button-primary-disabled: var(--interactive-primary-disabled);
  --text-button-primary: var(--text-inverse);
  --text-button-primary-disabled: var(--text-disabled);
  --border-button-primary: var(--interactive-primary-hover);
  --border-button-secondary-hover: var(--border-light-hover);
  --border-button-primary-focus: var(--border-focus);

  /* Secondary Button */
  --surface-button-secondary: var(--interactive-secondary);
  --surface-button-secondary-hover: var(--interactive-secondary-hover);
  --surface-button-secondary-active: var(--interactive-secondary-active);
  --surface-button-secondary-disabled: var(--interactive-secondary-disabled);
  --text-button-secondary: var(--text-primary);
  --text-button-secondary-disabled: var(--text-disabled);
  --border-button-secondary: var(--interactive-secondary-hover);
  --border-button-secondary-hover: var(--border-light-hover);
  --border-button-secondary-focus: var(--border-focus);
  --border-button-secondary-disabled: var(--border-disabled);
  --border-button-secondary-active: var(--border-light-active);

  /* Accent Button */
  --surface-button-accent: var(--interactive-accent);
  --surface-button-accent-hover: var(--interactive-accent-hover);
  --surface-button-accent-active: var(--interactive-accent-active);
  --surface-button-accent-disabled: var(--interactive-primary-disabled);
  --text-button-accent: var(--text-primary);
  --text-button-accent-disabled: var(--text-disabled);
  --border-button-accent: var(--interactive-accent);
  --border-button-accent-focus: var(--border-focus);

  /* Ghost Button */
  --surface-button-ghost: var(--interactive-tertiary);
  --surface-button-ghost-hover: var(--interactive-tertiary-hover);
  --surface-button-ghost-active: var(--interactive-tertiary-active);
  --text-button-ghost: var(--text-secondary);

  /* Destructive Button */
  --surface-button-destructive: var(--interactive-destructive);
  --surface-button-destructive-hover: var(--interactive-destructive-hover);
  --border-button-destructive: var(--interactive-destructive-hover);
}