  /* ==============================================
    src/design-system/tokens/component/input.css
    INPUT COMPONENT TOKENS
  ============================================== */

:root {
  /* Input component mappings */
  --surface-input: var(--secondary-50);
  --surface-input-disabled: var(--surface-card-hover);
  --border-input: var(--secondary-200);
  --border-input-hover: var(--secondary-300);
  --border-input-focus:  var(--secondary-400);
  --border-input-error: var(--error-400);
  --border-input-disabled: var(--border-disabled);
  --text-input: var(--text-primary);
  --text-input-placeholder: var(--text-placeholder);
  --text-input-disabled: var(--text-disabled);
  --icon-input: var(--icon-secondary);
  --icon-input-disabled: var(--icon-disabled);

  --text-search-input: var(--text-input-placeholder);
  --text-search-placeholder: var(--text-input-placeholder);
}